* {
  color: rgb(175, 175, 175);
  font-family: mortalKombat;
}

html body {
 height: 100%;
 background: rgb(12, 12, 12);
}

.splash {
  margin: 130px auto 0 auto;
  display: none;
}

.splash-img {
  height: 500px;
  margin: 0 auto;
  display: block;
  position: relative;
  animation-duration: 4s;
  animation-delay: .5s;
}

.splash-btn {
  display: block;
  letter-spacing: 5px;
  margin: 0 auto;
  font-size: 14px;
  height: 35px;
  width: 80px;
  cursor: pointer;
  padding-left: 13px;
  color: rgb(12, 12, 12);
  filter: drop-shadow(0px 12px 10px #700E0B);
  border: none;
  background: radial-gradient(ellipse at top, #700E0B, transparent),
              radial-gradient(ellipse at bottom, #9E8C2C, transparent);
  font-weight: bold;
  border-radius: 10px;
  transition: ease-in-out .6s;
  animation-duration: 2s;
  animation-delay: .9s;
}

.splash-btn:hover {
  background: #700E0B;
}

.game-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.playerMenu {
  text-align: center;
  margin-top: 75px;
  background: white;
  height: 285px;
}


.playerChar {
  height: 270px;
  display: inline-block;
  background: black;
  width: 230px;
  margin: 0;
  position: relative;
}

.playerChar img {
  height: 180px;
  position: relative;
  padding-top: 30px;
}


.p2 {
	right:10%; 
	-webkit-filter: hue-rotate(90deg) contrast(1.1);
	filter: hue-rotate(90deg) contrast(1.1);
	-moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 300px; 
} 

@font-face {
  font-family: mortalKombat;
  src: url(MKtitle.ttf);
  font-weight: normal, bold;
}