* {
  color: rgb(175, 175, 175);
  font-family: mortalKombat;
  box-sizing: border-box;
}

html body {
 height: 100%;
 background: rgb(12, 12, 12);
}

.splash {
  margin: 130px auto 0 auto;
  display: none;
}

.splash-img {
  height: 500px;
  margin: 0 auto;
  display: block;
  position: relative;
  animation-duration: 4s;
  animation-delay: .5s;
}

.splash-btn {
  display: block;
  letter-spacing: 5px;
  margin: 0 auto;
  font-size: 14px;
  height: 35px;
  width: 80px;
  cursor: pointer;
  padding-left: 13px;
  color: rgb(12, 12, 12);
  filter: drop-shadow(0px 12px 10px rgb(160, 19, 14));
  border: none;
  background: radial-gradient(ellipse at top, #700E0B, transparent),
              radial-gradient(ellipse at bottom, #9E8C2C, transparent);
  font-weight: bold;
  border-radius: 10px;
  transition: ease-in-out .6s;
  animation-duration: 2s;
  animation-delay: .9s;
}

.splash-btn:hover {
  background: #700E0B;
}

.game-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.playerMenu {
  text-align: center;
  margin-top: 45px;
  /* background: white; */
}


.playerChar {
  height: 255px;
  display: inline-block;
  background: rgba(53, 53, 53, 0.884);
  border-radius: 25px;
  width: 200px;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  letter-spacing: 3px;
  text-shadow: 4px 5px 1px black;
  /* animation-iteration-count: infinite; */
  animation-duration: 0.7s;
  transition: ease-in-out .5s;
}

.playerChar:hover {
  filter: brightness(200%);
}

.playerChar img {
  height: 165px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 10px;
}

.directions {
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
  color: rgb(228, 0, 0);
  text-shadow: 6px 4px 2px black;
}

.character-name {
  padding-top: 10px;
}


.versusScreen img {
  height: 300px;
  position: absolute;
}

.vs img {
  height: 100px;
  position: absolute;
  top: 380px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.vsP1 {
  position: absolute;
  top: 280px;
  left: 25%;
  right: 0;
  margin: 0 auto;
  animation-duration: 3.5s;
}

.vsP2 {
  top: 280px;
  position: absolute;
  left: 55%;
  right: 0;
  margin: 0 auto;
  animation-duration: 3.5s;
}

.fight img {
  height: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation-duration: 2s;
}

#p1 {
	/* right: 10%;  */
	/* -webkit-filter: hue-rotate(90deg) contrast(1.1); */
	/* filter: hue-rotate(90deg) contrast(1.1); */
	/* -moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
  height: 450px; 
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 10%;
} 

#p2 {
	/* right:10%;  */
	/* -webkit-filter: hue-rotate(90deg) contrast(1.1); */
	/* filter: hue-rotate(90deg) contrast(1.1); */
	/* -moz-transform: scaleX(-1); 
	-o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1); */
  transform: scaleX(-1);
  float: right;
  height: 450px; 
  position: relative;
  display: inline-block;
} 

/* 
.p1Stats {
  background: red;
  width: 480px;
  height: 50px;
} */

@font-face {
  font-family: mortalKombat;
  src: url(MKtitle.ttf);
  font-weight: normal, bold;
}